/* Contenedor de la radio reducido a un tamaño pequeño y controlado */
.contenedor-radio-perillas {
    position: relative;
    display: inline-block;
    max-width: 220px; /* <--- Aquí la bajamos drásticamente para que sea pequeña */
    width: 100%;
    margin: 20px 0;
}

.composicion-croquis {
    width: 100%;
    height: auto;
    display: block;
}

/* Botón perilla izquierda */
#btn-relato {
    position: absolute;
    top: 61%;
    left: 24.5%;
    width: 12px; /* Más pequeño para ajustarse al tamaño */
    height: 12px;
    background-color: #171717;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

/* Botón perilla derecha */
#btn-seleccion {
    position: absolute;
    top: 61%;
    left: 81.5%;
    width: 12px; /* Más pequeño para ajustarse al tamaño */
    height: 12px;
    background-color: #171717;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.texto-pulsa {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    font-weight: bold;
    color: #171717;
    text-transform: uppercase;
    white-space: nowrap;
} 
